.env
node_modules
.DS_Store
package-lock.json
schema.mwb
schema.mwb.bak
/backend/src/cli/
app.cli.js
user.cli.js
/.vscode
schema_old.sql
schema_old_2.sql
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
dist
dist-ssr
*.local
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
browseCourses.js